:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --brand-rose-red: #CC005F;
  --brand-dutch-white: #FCECC9;
  --brand-cherry-blossom-pink: #FCB0B3;
  --brand-carolina-blue: #7EB2DD;
  --brand-yinmn-blue: #445E93;
}

body {
  --bs-body-bg: var(--brand-carolina-blue);
  --bs-body-color: white;
}

.bg-portfolio-yinmn-blue {
  background-color: rgba(68, 94, 147, 0.92);
}

.header {
  background-color: var(--brand-rose-red);
  color: #FCECC9;
}

.footer {
  background-color: var(--brand-rose-red);
  color: #FCECC9;
}

.navbar-nav {
  --bs-navbar-color: #FCECC9;
}

.btn.btn-primary {
  --bs-btn-bg: var(--brand-yinmn-blue);
  --bs-btn-border-color: var(--brand-dutch-white);
  --bs-btn-hover-bg: var(--brand-cherry-blossom-pink);
  --bs-btn-hover-color: var(--brand-yinmn-blue);
  --bs-btn-hover-border-color: var(--brand-dutch-white);
}