:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --brand-rose-red: #CC005F;
  --brand-dutch-white: #FCECC9;
  --brand-cherry-blossom-pink: #FCB0B3;
  --brand-carolina-blue: #7EB2DD;
  --brand-yinmn-blue: #445E93;
}

body {
  background-image: url('/images/geopattern.svg');
  --bs-body-color: white;
}

.bg-portfolio-yinmn-blue {
  background-color: rgba(68, 94, 147, 0.85);
}

/* HEADER/FOOTER */
.header,
.footer {
  /*background: radial-gradient(circle, hsl(41, 89%, 82%) 10%, transparent 11%);*/
  background-size: 1em 1em;
  background-color: var(--brand-dutch-white);
  color: var(--brand-rose-red);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* HEADINGS */
h1,
.h1 {
  font-weight: 500;
  font-size: 36px;
}

h2,
.h2 {
  font-weight: 300;
  font-size: 36px;
}
h3, .h3{
  font-weight: 700;
  font-size: 24px;
}
h4, .h4{
  font-weight: 400;
  font-size: 20px;
}
h5, .h5{
  font-weight: 400;
  font-size: 14px;
}
p,
.p {
  font-weight: 350;
  font-size: 18px;
}

/* NAVIGATION BAR */
.navbar-nav {
  --bs-navbar-color: var(--brand-rose-red);
  /* font-weight: bold; */
  --bs-nav-link-hover-color: var(--brand-dutch-white);
}

.nav-link {
  background-color: var(--brand-dutch-white);
}

.nav-link:hover {
  background-color: var(--brand-rose-red);
}

.nav-font {
  font-size: 20px;
  font-weight: 600;

}

.btn.btn-primary {
  --bs-btn-bg: var(--brand-rose-red);
  --bs-btn-border-color: var(--brand-dutch-white);
  --bs-btn-hover-bg: var(--brand-cherry-blossom-pink);
  --bs-btn-hover-border-color: var(--brand-rose-red);
  --bs-btn-hover-color: var(--brand-rose-red);
  --bs-btn-font-weight: bold;
}

.logo-rect {
  /* background-color: red; */
  background-clip: content-box;
}

.card {
  /* background-color:var(--brand-carolina-blue); */
  color: rgb(24, 41, 114);
}

.social-icon {
  color: var(--brand-dutch-white);
  font-size: 3rem;
}

.social-icon:hover {
  color: white;
}

.resume {
  background-color: var(--brand-dutch-white);
  color: var(--brand-rose-red);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
}

.resume:hover {
  background-color: white;
  color: var(--brand-rose-red);
}

.profile-picture {
  max-width: 200px;
}
