:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --brand-rose-red: #CC005F;
  --brand-dutch-white: #FCECC9;
  --brand-cherry-blossom-pink: #FCB0B3;
  --brand-carolina-blue: #7EB2DD;
  --brand-yinmn-blue: #445E93;
}

body {
  background-image: url('/images/geopattern.svg');
  --bs-body-color: white;
}

.bg-portfolio-yinmn-blue {
  background-color: rgba(68, 94, 147, 0.7);
}

.header,
.footer {
  background: radial-gradient(circle, hsl(41, 89%, 82%) 10%, transparent 11%);
  background-size: 1em 1em;
  background-color: var(--brand-dutch-white);
  color: var(--brand-rose-red);
}

.navbar-nav {
  --bs-navbar-color: var(--brand-rose-red);
  font-weight: bold;
  --bs-nav-link-hover-color: var(--brand-dutch-white);
}

.nav-link {
  background-color: var(--brand-dutch-white);
}

.nav-link:hover {
  background-color: var(--brand-rose-red);
}

.btn.btn-primary {
  --bs-btn-bg: var(--brand-rose-red);
  --bs-btn-border-color: var(--brand-dutch-white);
  --bs-btn-hover-bg: var(--brand-cherry-blossom-pink);
  --bs-btn-hover-border-color: var(--brand-rose-red);
  --bs-btn-hover-color: var(--brand-rose-red);
  --bs-btn-font-weight: bold;
}
.logo-rect{
  background-color: red;
  background-clip:content-box;
}

.card{
  background-color:var(--brand-carolina-blue);
  color:rgb(24, 41, 114);
}